.characterEditor {
  padding-top: 45px;
  padding-bottom: 64px;
  width:1024px;
  position:relative;
  margin: 0 auto;
}

.maxWidthWrapper {
max-width: 65%;
margin:0px;
}

.header {
  padding-bottom: 64px;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
    position: fixed;
    right: 5%;
    top: 12%;
    height: 625px;
    min-height: 500px;
}

.controlColumn {
  max-width: 75%;
margin:0px;
}

.greySquare{
  background-color: lightgrey;
  width: 100vw;
  height: 40vh;
  position: fixed;
  top: 60%;
}
